.heading{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.item{
    margin:10px ;
    font-size:20px ;
}
    a:visited {
        color: black;
    }
    a:hover {
        color: red;
    }
    .structure {
        display: flex;
        justify-content:center ;

    }
    .searchbar {
        display: flex;
        z-index: 3;
        min-height: 44px;
        background: #fff;
        border: 1px solid #dfe1e5;
        box-shadow: none;
        border-radius: 24px;
        margin: 0 auto;
        width: 638px;
        width: 584px;
        max-width: 584px;
        margin-top: 30px;
        }
        .button {
            background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
        }
        .advhead {
            color: #d93025;
            font-size: 20px;
            margin: 25px 35px;
        }
        .line {
            border-bottom: 1px solid #ebebeb;
        }
        .h2line {
            font-size: 17px;
            color: #333333;
        }
        .adv-section {
            margin: 50px;
        }
        
